.right-sidebar {
    display: block;
    position: absolute;
    margin-top: 8px;
    width: 0px;
    border-radius: 5px 0px 0px 5px;
    background-color: aliceblue;
    z-index: 0;
    height: 0;
    transition: width 200ms ease-out;
}

.left-sidebar {
    display: block;
    position: absolute;
    margin-top: 8px;
    width: 0;
    height: 0;
    border-radius: 0px 5px 5px 0px;
    background-color: aliceblue;
    z-index: 0;
    transition: width 200ms ease-out;
}

.left-sidebar.active {
    width: 300px;
    z-index: 6000;
    left: 0px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--dark);
}

.right-sidebar.active {
    width: 300px;
    z-index: 6000;
    right: 0px;
    height: 100%;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--dark);
}

@media (min-width: 1100px) {
    .right-sidebar {
        position: relative;
        justify-self: flex-end;
        margin-top: 8px;
        width: 0px;
        min-height: 50vh;
        border-radius: 5px 0px 0px 5px;
        background-color: aliceblue;
        z-index: 0;
        transition: width 200ms ease-out;
    }

    .left-sidebar {
        position: relative;
        margin-top: 8px;
        width: 0;
        min-height: 50vh;
        border-radius: 0px 5px 5px 0px;
        background-color: aliceblue;
        z-index: 0;
        transition: width 200ms ease-out;
    }

    .left-sidebar.active {
        width: 300px;
        z-index: 6000;
        left: 0px;
        box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
        border: 1px solid var(--dark);
    }

    .right-sidebar.active {
        width: 300px;
        z-index: 6000;
        right: 0px;
        box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
        border: 1px solid var(--dark);
    }
}

.sidebar-content {
    position: relative;
}

.sidebar-content .right-sidebar.active div {
    transform: scale(0);
}

.drawer-content {
    padding: 24px;
}

.drawer-content--header {
    font-size: 24px;
    color: var(--dark);
    text-align: center;
}

.drawer-content--date {
    font-size: 16px;
    color: var(--dark);
    margin-bottom: 8px;
    text-align: center;
}

.drawer-content p {
    padding-bottom: 8px;
}

.drawer-content--bold {
    padding-top: 8px;
    font-weight: bold;
}

.button-container--left {
    position: absolute;
    right: 0;
    top: 0;
}

.button-container--right {
    position: absolute;
    left: 0;
    top: 0;
}
