.right-sidebar {
    position: absolute;
    right: -30px;
    margin-top: 58px;
    width: 0px;
    min-height: 50vh;
    border-radius: 5px 0px 0px 5px;
    background-color: aliceblue;
    z-index: 0;
    transition: width 200ms ease-out;
  }

  .left-sidebar {
    position: absolute;
    left: -300px;
    margin-top: 58px;
    width: 0;
    min-height: 50vh;
    border-radius: 0px 5px 5px 0px;
    background-color: aliceblue;
    z-index: 0;
    transition: width 200ms ease-out;
    padding: 0 0px;
  }

  .left-sidebar.active {
    width: 300px;
    z-index: 6000;
    left: 0px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--dark);
  }
  
  
  .right-sidebar.active {
    width: 300px;
    z-index: 6000;
    right: 0px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--dark);
  }
  
  .right-sidebar ul {
    margin: 0;
    padding: 0;
  }
  
  .right-sidebar li a {
    display: block;
    border: none;
    background-color: white;
    padding: 14px 28px;
    font-size: 16px;
    margin: 10px 10px 10px 10px;
    width: auto;
    text-align: center;
  }

  .sidebar-content {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .sidebar-content .right-sidebar.active div {
    transform: scale(0);
  }

  .drawer-content{
    padding: 24px;
  }
  
  .drawer-content--header {
    font-size: 24px;
    color: var(--dark);
    text-align: center;
  }
  
  .drawer-content--date {
    font-size: 16px;
    color: var(--dark);
    margin-bottom: 8px;
    text-align: center;
  }

  .drawer-content p{
    padding-bottom: 8px;
  }

  .drawer-content--bold {
    padding-top: 8px;
    font-weight: bold;
  }

  .close-button--left{
    position: absolute;
    font-weight: bold;
    right: 0;
    top: 0;
    padding: 8px;
    cursor: pointer;
    color: rgb(107, 119, 140);
    background-color: rgb(255, 255, 255);
    border: none;
    outline: 0;
    box-shadow: rgb(9 30 66 / 8%) 0px 0px 0px 1px,
    rgb(9 30 66 / 8%) 0px 2px 4px 1px;
    border-radius: 0 5px 0px 5px;
    text-align: center;
  }

  .close-button--right{
    position: absolute;
    font-weight: bold;
    left: 0;
    top: 0;
    padding: 8px;
    cursor: pointer;
    color: rgb(107, 119, 140);
    background-color: rgb(255, 255, 255);
    border: none;
    outline: 0;
    box-shadow: rgb(9 30 66 / 8%) 0px 0px 0px 1px,
    rgb(9 30 66 / 8%) 0px 2px 4px 1px;
    border-radius: 5px 0px 5px 0px;
    text-align: center;
  }

  