.modal {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
}

.modal-box {
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: none;
}

.modal-content {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}