.chevy-button {
    padding: 8px;
    cursor: pointer;
    color: rgb(107, 119, 140);
    background-color: rgb(255, 255, 255);
    border: none;
    outline: 0;
    box-shadow: rgb(9 30 66 / 8%) 0px 0px 0px 1px, rgb(9 30 66 / 8%) 0px 2px 4px 1px;
}

.border-right{
    border-radius: 5px 0px 5px 0px;
}

.border-left{
    border-radius: 0px 5px 0px 5px;
}
.border-all{
    border-radius: 5px;
}