/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: var(--font-size-xs);
  font-family: var(--font-family-sans);
}

/* Remove default margins */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
body,
pre {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Make Images Block Level */
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  align-items: center;
}

/* Unstyle Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* Inherit fonts for inputs and buttons */
input,
textarea,
button,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Remove padding from fieldsets */
fieldset {
  margin: 0;
  padding: 0;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Animation */
.transition-all {
  transition-duration: 150ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Prevents highlighting */
.select-none {
  user-select: none;
}

h1 {
  font-weight: normal;
  font-size: var(--font-size-2xl);
  font-family:
    Bitter Variable,
    Georgia,
    serif;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  position: absolute;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}