.header-wrapper {
    margin-top: 0;
    position: sticky;
    top: 0px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text-wrapper {
    background-color: var(--dark);
    padding: 10px 20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid var(--light);
    border-top: none;
    text-align: center;
}

.header-text {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--light);
}
