.card-wrapper{
    border:1px solid #000;
    border-radius: 5px;
    margin: 8px;
    padding: 16px;   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #F6F6F7;
    height:fit-content;
}

.calendar-card{
    justify-self: center;
}
