.card-area {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.main-area {
    height: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
    justify-items: center;
}
