.error-wrapper {
    margin-top: 10px;
    position: sticky;
    top: 0px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--error);
}

.error-text {
    font-size: 1.5rem;
    color: black;
}
